# Virtual Environment
.venv/
ENV/
env/

# Environment Variables / Sensitive Data
.env
.env.local
.env.*.local
*.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Operating System files
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
